/*Bagian Universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

header{
    position: fixed;
    width: 100%;
    background-color: aqua;
}

section{
    padding: 120px 0;
}

#logo{
    float: left;
    padding: 20px;
    margin-left: 30px;
    color: blue;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    padding: 30px;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#contact-color{
    color: blue;
    border: 2px blue solid;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
}

nav{
    text-align: right;
}

.welcome{
    text-align: center;
    font-size: 42px;
}

h2{
    text-align: center;
    margin: 20px 0;
    color: whitesmoke;
    margin-bottom: 70px;
}

.main{
    background-color: white;
    margin: auto;
    width: 80%;
    height: 1200px;
    border-radius: 20px;
}

#popular{
    text-align: center;
    padding: 50px;
    font-size: 32px;
}

.card{
    display: block;
    width: 200px;
    height: 412px;
    border: 3px solid black;
    border-radius: 30px;
    margin: 40px 67px;
    float: left;
}

.card-element{
    background-color: lightblue;
    border-radius: 30px;
    padding: 9px;
}

.card-content{
    text-align: center;
}

.card img{
    width: 150px;
    height: 200px;
    text-align: center;
}

.product-name{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.price{
    font-size: 24px;
    font-weight: bold;
    color: gray;
}

.buy{
    border-radius: 20px;
    border: 1px solid gray;
    background-color: gray;
    color: black;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

footer{
    background-color: black;
    padding: 30px;
}

h5{
    color: white;
    text-align: center;
}

.container{
    width:50%;
    margin:0 auto;
    padding:20px;
}

/* Bagian Contact Us */