*{
    font-family:'Lobster';
}

#main-header{
    height: 500px;
    width: 100%;
    background-image:url('img/gunung.jpg');
    opacity:0.7;
}

.container{
    margin: 20px auto;
    width: 80%;
}

.container .container-title{
    text-align: center;
    border-bottom: 1px thick gray;
}

#main-header .container{
    width:50%;
    padding-top: 100px;
}

#main-header .container h1,#main-header .container h2{
    text-align: center;
}

#main-header .container h1{
    font-size: 50px;
    font-weight: bold;
}

#main-header .container h2{
    font-size: 40px;
    color: white;
}


#jumbotron{
    background-image: url('img/ruang-komputer-3.jpg');
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    position:relative;
}
